#navbarNav {
    height: 29px;
}

#container-1 {
    padding-top: 20px;
    padding-bottom: 20px;
}

#cardProfil {
    padding: 20px;
    background-color: #ffffff; 
    border-color: #e7e7e7;
}

#nameRole {
    font-size: 14pt;
    font-weight: bold;
}

#container-2 {
    padding-bottom: 20px;
}

#cardForm {
    padding: 20px;
    background-color: #ffffff; 
    border-color: #e7e7e7;
}

#btnSubmit {
    margin-top: 11px;
}