#navbarNav {
    height: 29px;
}

#container-1 {
    padding-top: 20px;
    padding-bottom: 20px;
}

#cardProfil {
    padding: 20px;
    background-color: #ffffff; 
    border-color: #e7e7e7;
}

#container-2 {
    padding-bottom: 20px;
}

#cardForm {
    padding: 20px;
    background-color: #ffffff; 
    border-color: #e7e7e7;
}

#btnSubmit {
    margin-top: 11px;
}

#daftarProfil {
    font-weight: bold;
    text-align: right;
    line-height: 19px;
}

#result {
    line-height: 19px;
}

.form-label {
    font-weight: bold;
}